:root {
  /* Definição de variáveis */
  --cor-primaria: #7c9718;
  --cor-fundo: #e7f3ecde;
  --tamanho-fonte: 30px;
}

body {
  /* Uso das variáveis */
  background-color: var(--cor-fundo);
  color: var(--cor-primaria);
  font-size: var(--tamanho-fonte);
  font-family: 'Arial', 'Verdana';

before,
after 
    margin: 50px;
    padding: 25px;;
    box-sizing: border-box;

}

#menu-principal {
    color: rgb(63, 88, 13);
  font-size: 35px;
  font-weight: bold;
}
a {
    text-decoration: none;
    color: inherit;
} 